.mg-accordion, .mg-accordion ul{
    list-style-type: none;
}
.mg-accordion .submenu{
    display: none;
}
.my-menu, .mg-flat{
    width: 100%;
}
.justify-items-evenly{
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.mg-flat li.dropdown{
    /*margin-left: -40px*/
}
.mg-flat .submenu li{
    /*margin-left: -20px;*/
}
.mg-flat span.toggler{
    float: right;
}
.mg-flat a{
    text-decoration: none;
    display: block;
}
.mg-flat li.dropdown a{
    /*padding: 10px 5px;
    border:1px solid #ccc;
    background: #eee*/
}
a.openItem{
    background: #0056b3!important;
    color: #fff;
}
.openItem span{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #fff;
}
.toggler{
    -webkit-transition: all 1s;
    transition: all 1s;
}

